* {
 font-family: 'Source Sans Pro', sans-serif;
}

.warning {
	background: #cccccc url(warning.png) 50% 50% repeat-x;
	color: white;
	font-weight: bold;
	width:90%;
}

.info {
	background: #009933 url(info.png) 50% 50% repeat-x;
	color: white;
	font-weight: bold;
	width:90%;
}

.subheading {
	border: 1px solid #aaaaaa;
	background: #cccccc url(subheading.png) 50% 50% repeat-x;
	color: green;
	font-weight: bold;
}

th, td {
   padding: 5px;
   text-align: left;
}

.releasetableheading {
    background-color:#C8D0C8;
}


.releasetableheading_action {
    background-color:#C8D0C8;
    width:60;
}

.releasetableheading_year {
    background-color:#C8D0C8;
    width:60;
}

.releasetableheading_title {
    background-color:#C8D0C8;
    width:200;
}

.releasetableheading_trackcount {
    background-color:#C8D0C8;
    width:50;
}

.releasetableheading_year {
    background-color:#C8D0C8;
    width:60;
}


.releasetableheading_status {
    background-color:#C8D0C8;
    width:50;
}

.releasetableheading_label {
    background-color:#C8D0C8;
    width:120;
}

.releasetableheading_catno {
    background-color:#C8D0C8;
    width:100;
}

.releasetableheading_country {
    background-color:#C8D0C8;
    width:50;
}

.releasetableheading_format {
    background-color:#C8D0C8;
    width:100;
}

.releasetable
    background-color:#C8D0C8;heading_image {
    width:20;
}
.tracktableheading {
    background-color:#EDEFED;
    width:100%;
}

.releasegrouptableheading {
}

.releasegrouptableheading_year {
    width:60;
}


.releasegrouptableheading_title {
    width:400;
}
.class-my-accordion {
}

.multipleartistsheading {
    width:90%;
}

.artistsearchheading {
    color:#476147;
}

.maintitle {
   color:#476147
}

.subtitle {
    color:#476147
}

.ruler {
    color:#476147
}

.navlink{
}

.releasetablecell_action {
    width:60;
}

.releasetablecell_year {
    width:60;
}

.releasetablecell_title {
    width:200;
}

.releasetablecell_trackcount {
    width:50;
}

.releasetablecell_year {
    width:60;
}


.releasetablecell_status {
    width:50;
}

.releasetablecell_label {
    width:120;
}

.releasetablecell_catno {
    width:100;
}

.releasetablecell_country {
    width:50;
}

.releasetablecell_format {
    width:100;
}
